/* Created by Rull Deef 🐺 */
/* https://code.sololearn.com/W3bBU8i1UX9G */

/* Modified by Modi */

body {
    margin: 0;
    font-family: arial;
    font-size: 0.75em;
    color: silver;
    background-color: black;
}

button {
    width: 40px;
    height: 40px;
    border-width: thick;
    position: fixed;
    left: 30px; 
    top: 30px;
      color: gray;
    background-color: black;
}

div {
    padding: 20px 20px;
}

p {
    margin: 10px 10px;
}

canvas {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

/* Hamburger Menu Created by dρlυѕρlυѕ */

.menuButton {
  width: 40px;
  height: 30px;
  position: fixed;
  float: left;
  right: 30px; 
  top: 30px;
  z-index: 111;
}
 .menuButton span {
   width: 100%;
   float: left;
   height: 4.5px;
   background-color: gray;
   margin-top: 6px;
   transition: 0.2s ease;
    -webkit-transition: all 0.2s ease;
  }

/* button icon bars' height */
.menuButton:hover > span {
  background-color: silver;
  outline: none;
}
.menuButton > span:first-child {
    transform: translateY( -30% );
}

.menuButton > span:last-child {
    transform: translateY( 30% );
}

/* button bars hover animation */
.menuButton:hover span:nth-child( 1 ) {
    transform: translateY( -100% );
}
.menuButton:hover span:nth-child( 3 ) {
    transform: translateY( 100% );
}

/* button onclick animation */
.menuButton.show span:nth-child( 1 ) {
  -webkit-transform: rotate( 45deg ) translateY( -50% );
  transform: rotate( 45deg ) translate( 8px, 8px );
  outline: none;
}
.menuButton.show span:nth-child( 2 ) {
  opacity: 0;
  outline: none;
}
.menuButton.show span:nth-child( 3 ) {
  -webkit-transform: rotate( -45deg ) translateY( -50% );
  transform: rotate( -45deg ) translate( 7px, -7px );
  outline: none;
}

/* section links */
.menuSections {
  opacity: 0;
  margin: 10px 30px;
  padding: 10px 10px 10px 10px;
  background-color: rgba( 30, 30, 30, 0.7);
  display: inline-block;
  text-align: right;
  position: fixed;
  right: 70px; 
  top: 30px;
  z-index: -111;
}

.menuSections.show {
  opacity: 1;
  overflow: hidden !important;
  visibility: visible !important;
  z-index: 110;
  transition: opacity 550ms ease-in-out;
  -webkit-transition: opacity 550ms ease-in-out;
}
.menuSections.show label {
  color: gray;
  outline: none;
  text-align: right !important;
  cursor: pointer;
  font-size: 1.2em;
  line-height: 2em !important;
}
.menuSections.show label:hover {
   color: silver !important;
   font-weight: 800 !important;
   font-size: 1.4em !important;
   transition: .5s ease;
    -webkit-transition: .5s ease;
}